  <footer class="page-footer teal py-5 mt-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Info</h5>
          <p class="grey-text text-lighten-4">Work hard to get what you like, otherwise you'll be forced to just like what you get. - Bernard Show</p>
        </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Home</a></li>
          <li class="mb-2"><a href="/articles">Articles</a></li>
          <li class="mb-2"><a href="/categories">Categories</a></li>
        </ul>
      </div>
        <div class="col-6 col-lg-2 mb-3">
        <h5>Social Media</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://facebook.com" rel="nofollow noopener" target="_blank">Facebook</a></li>
          <li class="mb-2"><a href="https://www.linkedin.com" rel="nofollow noopener" target="_blank">LinkedIn</a></li>
          <li class="mb-2"><a href="https://twitter.com" rel="nofollow noopener" target="_blank">Twitter</a></li>
          <li class="mb-2"><a href="https://instagram.com" rel="nofollow noopener" target="_blank">Instagram</a></li>
        </ul>
      </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="https://cursor.education" >Cursor student</a>
      </div>
    </div>
  </footer>